<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HADI REDA's Resume</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/add0af1b.main.css">
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
    <script src="scripts/vendor/d7100892.modernizr.js"></script>
  </head>
  <body ng-app="resumeApp">
  <section class="container" ng-controller="resumeController">
    <header>
      <div class="row">
        <div class="col-md-4 user-img">
          <img ng-src="{{data.basics.imgurl}}" alt="HADI REDA" class="">
        </div>
        <div class="col-md-8 header-cont">
          <h1>{{data.basics.name}}</h1>
          <h3>{{data.basics.email}}</h3>
          <h3>{{data.basics.website}}</h3>
          <h3>{{data.basics.mobile}}</h3>
          <blockquote>{{data.basics.quote}}</blockquote>
        </div>
      </div>
    </header>
    <section class="page-body">
      <section class="education info-block">
         <h4>Education</h4>
         <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-11">
         <ul class="info-list">
            <li ng-repeat="item in data.educaiton"><span>{{item.year}}</span> {{item.school}}</li>
         </ul>
         </div>
         </div>
      </section>
      <section class="workexpirence info-block">
         <h4>Work Experience</h4>
         <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-11">
           <ul class="info-list">
              <li ng-repeat="item in data.work"><span>{{item.year}}</span> {{item.company}}</li>
           </ul>
         </div>
         </div>
      </section>
      <section class="skills info-block">
        <h4>Skills</h4>
        <div class="row">
          <div class="col-md-2 col-xs-4 skill-block" ng-repeat="item in data.skills">
            <em class="{{item.icon}}"></em>
            <span>{{item.name}}</span>
          </div>
        </div>
      </section>


      <section class="assets info-block">
        <h4>Personal Skills</h4>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <ul class="asset-list">
              <li ng-repeat="item in data.personalskills">
                <div class="bar">
                  <div class="bar-value" ng-style="{width: item.value+'%'}"></div>
                </div>
                <span class="visible-xs">{{item.name}}</span>
              </li>
            </ul>
          </div>
          <div class="col-md-5 hidden-xs">
            <ul class="asset-list asset-list-cont">
              <li ng-repeat="item in data.personalskills">{{item.name}}</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="social info-block">
        <h4>Social Profiles</h4>
        <div class="row">
          <div class="col-md-2 col-xs-4 col-sm-3 social-block" ng-repeat="item in data.socialprofiles">
            <a ng-href="{{item.url}}">
              <em class="socicon {{item.icon}}"></em>
              <span>{{item.name}}</span>
            </a>
          </div>
          </div>
    </section>

    </section>
  </section>




    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>


        <script src="scripts/4bd17cb6.main.js"></script>
</body>
</html>